@font-face {
  font-family: 'sans';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sans';
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sans';
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  width: auto;
  color: #000000;
  font-family: "sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
}

a, a:hover, a:active, a:link, a:focus {
  text-decoration: none;
  outline: none;
  color: #000000;
  font-weight: 600;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  font-size: 14px;
}

div, span, article, nav, section, main, header {
  padding: 0;
  margin: 0;
}

input, button, select, textarea {
  border: 1px solid #E5E5E5;
  font-size: 14px;
  color: #000000;
}

input[type="text"], input[type="tel"], input[type="password"], input[type="email"], input[type="search"] {
  box-shadow: none;
  appearance: none !important;
}

input[type="text"], input[type="tel"], input[type="submit"], button {
  appearance: none;
  padding: 10px 15px;
}

input:focus, textarea:focus, select:focus, button:focus, select:focus, div:focus {
  outline: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 800;
  line-height: 1.2;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 767px) {
  .container {
    max-width: 740px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

section, footer {
  padding-top: 70px;
  padding-bottom: 70px;
}

.header-mob__search input, .email-wrap form input[type="email"], .email-wrap form .button, .header-right__search input {
  appearance: none;
  -webkit-appearance: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;
  overflow: hidden;
  display: none;
}

#thx {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  height: 500px;
  max-width: 440px;
  width: 100%;
  background-color: #F7F8FB;
  z-index: 100;
  transform: translate(-50%, -50%);
}

#thx div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  flex-direction: column;
}

#thx div b {
  font-size: 40px;
  color: #D51B51;
  display: block;
  margin-bottom: 30px;
  text-align: center;
}

#thx div p {
  font-size: 24px;
  text-align: center;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F7F8FB;
  width: 100%;
  max-width: 440px;
  padding: 35px;
  z-index: 60;
  display: none;
}

.popup form small {
  display: block;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  width: 100%;
}

.popup form small a {
  color: blue;
}

.popup form textarea {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 120px;
  resize: none;
  padding-top: 15px;
  padding-left: 15px;
  box-shadow: none;
  margin-bottom: 20px;
}

.popup form input {
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
}

.popup form input.button {
  width: 100%;
  max-width: 100%;
  font-weight: 600;
  font-size: 20px;
}

.popup h3 {
  font-size: 28px;
  margin-bottom: 40px;
}

.popup .close {
  position: absolute;
  top: 26px;
  right: 40px;
  color: #D51B51;
  font-size: 36px;
  font-weight: 600;
  cursor: pointer;
}

.title {
  font-size: 30px;
  line-height: 1.3;
  text-align: left;
  font-weight: 800;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  max-width: 210px;
  background-color: #D51B51;
  transition: 0.3s;
  font-size: 14px;
  cursor: pointer;
  box-shadow: none;
  padding: 10px 20px;
}

.button:hover {
  background-color: #F7F8FB;
  color: #000000;
  transition: 0.3s;
  border: 1px solid #E5E5E5;
}

a.button {
  color: #ffffff;
}

.open-menu {
  display: none;
}

.header-mob {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
  padding-bottom: 30px;
  margin-top: 140px;
}

.header-mob__search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-mob__search input[type="search"] {
  width: 100%;
  height: 50px;
  background-color: #F7F8FB;
  padding-left: 20px;
}

.header-mob__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #F7F8FB;
  z-index: 30;
}

.header-mob__row .burger {
  position: relative;
  height: 45px;
  width: 45px;
  background-color: #D51B51;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 11px 7px;
  margin-left: 10px;
}

.header-mob__row .burger span {
  display: flex;
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.header-mob__cart {
  position: relative;
  display: block;
  width: 20%;
}

.header-mob__cart::after {
  position: absolute;
  content: '';
  height: 25px;
  width: 27px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-image: url(../img/icons/cart.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.header-mob__cart a {
  font-size: 16px;
  padding-left: calc(16px + 20px);
}

.header-mob__phone {
  display: block;
  width: 40%;
  position: relative;
}

.header-mob__phone::after {
  position: absolute;
  content: '';
  height: 25px;
  width: 17px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-image: url(../img/icons/mob-mob.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.header-mob__phone a {
  font-size: 18px;
  padding-left: calc(16px + 12px);
}

.header-mob__logo {
  display: flex;
  width: 25%;
}

.header-mob__logo img {
  display: block;
  max-width: 120px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__bottom.container {
  align-items: flex-start;
}

.header__top {
  padding-top: 5px;
}

.header__logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 20%;
}

.header-right {
  display: block;
  width: 80%;
}

.header-right__cats {
  margin-top: 10px;
  position: relative;
}

.header-right__cats h2 {
  display: none;
}

.header-right__cats section {
  padding: 0;
  margin: 0;
}

.header-right__cats ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.header-right__cats ul li a {
  font-weight: 600;
  font-size: 14px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s;
}

.header-right__cats ul li a::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 0%;
  background-color: #D51B51;
  bottom: 12px;
  left: 0;
  transition: 0.3s;
}

.header-right__cats ul li a:hover {
  color: #D51B51;
}

.header-right__cats ul li a:hover::after {
  transition: 0.3s;
  width: 100%;
}

.header-right__cats ul li.menu-active {
  z-index: 0;
}

.header-right__cats ul li.menu-active a {
  color: #D51B51;
}

.header-right__cats ul li.menu-active a:after {
  width: 100%;
}

.header-right__cats ul li ul {
  display: none;
  flex-wrap: wrap;
  position: absolute;
  z-index: 55;
  top: calc(100% - 5px);
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  border: 1px solid #F7F8FB;
  box-sizing: border-box;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
  padding: 20px 20px 0 20px;
}

.header-right__cats ul li ul li {
  display: flex;
  align-items: center;
  width: 33%;
}

.header-right__cats ul li ul li a {
  padding: 0;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
  color: #000000 !important;
  font-weight: 400;
}

.header-right__cats ul li ul li a:after {
  width: 0% !important;
}

.header-right__cats ul li ul li a:hover {
  color: #D51B51 !important;
}

.header-right__cats ul li ul li a:hover:after {
  width: 100% !important;
}

.header-right__search {
  width: 55%;
}

.header-right__search input {
  background-color: #F7F8FB;
  box-shadow: none;
  padding: 15px 20px;
  width: 100%;
}

.header-right__top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15px;
}

.header-right__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 45%;
}

.header-right__menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.header-right__menu a p {
  margin-left: 14px;
  position: relative;
  transition: 0.3s;
  font-size: 12px;
}

.header-right__menu a p::after {
  position: absolute;
  transition: 0.3s;
  content: '';
  height: 1px;
  width: 0%;
  bottom: 0;
  left: 0;
  background-color: #D51B51;
}

.header-right__menu a:hover p {
  color: #D51B51;
  transition: 0.3s;
}

.header-right__menu a:hover p::after {
  transition: 0.3s;
  width: 100%;
}

.header__phone {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__phone a {
  position: relative;
  transition: 0.3s;
}

.header__phone a:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0%;
  background-color: #D51B51;
  transition: 0.3s;
}

.header__phone a:hover {
  color: #D51B51;
  transition: 0.3s;
}

.header__phone a:hover::after {
  transition: 0.3s;
  width: 100%;
}

.header__nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__nav ul li {
  margin-left: 15px;
}

.header__nav ul li a {
  font-weight: 400;
  position: relative;
  transition: 0.3s;
  opacity: 0.6;
}

.header__nav ul li a:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0%;
  background-color: #D51B51;
  transition: 0.3s;
}

.header__nav ul li a:hover {
  transition: 0.3s;
  color: #D51B51;
}

.header__nav ul li a:hover::after {
  transition: 0.3s;
  width: 100%;
}

.offer {
  padding-top: 30px;
  padding-bottom: 35px;
}

.offer-cats {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 20px;
}

.offer-cats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  width: 14.2%;
  transition: 0.3s;
}

.offer-cats__item img {
  height: 60px;
}

.offer-cats__item p {
  margin-top: 5px;
  text-align: center;
}

.offer-cats__item:hover {
  background-color: #FAE9F0;
  transition: 0.3s;
  color: #C61B64;
}

.offer-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
}

.offer-wrap__left {
  display: block;
  width: 65%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 52px 30px;
  height: 300px;
}

.offer-wrap__left h1 {
  max-width: 320px;
  margin-bottom: 50px;
  font-size: 20px;
}

.offer-wrap__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33.5%;
}

.offer-wrap__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 141px;
}

.offer-wrap__item h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.offer-wrap__item .button {
  height: 35px;
  margin: 10px 0;
}

.offer-wrap__item:last-child {
  align-items: flex-start;
  margin-bottom: 0;
}

.features {
  background-color: #F7F8FB;
}

.features-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.features-item__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.features-item__item img {
  margin-right: 17px;
}

.features-item__item b {
  font-size: 16px;
  font-weight: 600;
}

.features-item__item p {
  font-size: 16px;
}

.blog .title {
  position: relative;
}

.blog__wrap {
  margin-top: 70px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.blog__item {
  height: 300px;
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 3%;
  padding: 50px 50px;
  position: relative;
  transition: 0.3s;
}

.blog__item:hover {
  transition: 0.3s;
  opacity: 0.7;
}

.blog__item span {
  position: absolute;
  left: 50px;
  bottom: 50px;
  height: 35px;
  width: 35px;
  background-color: #D51B51;
  background-image: url(../img/icons/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
}

.blog__item h3 {
  font-size: 20px;
  line-height: 1.3;
  max-width: 300px;
}

.blog__item:nth-child(1), .blog__item:nth-child(4) {
  width: 65%;
}

.blog__item:nth-child(2) span, .blog__item:nth-child(4) span {
  left: auto;
  right: 50px;
}

.blog__item:nth-child(3) {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
}

.blog__item:nth-child(3) span {
  bottom: auto;
  top: 50px;
}

.blog .blog-href {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #D51B51;
}

.feed {
  background-color: #F7F8FB;
}

.feed .title {
  margin-bottom: 70px;
}

.feed-wrap__slider {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 70px;
}

.feed-wrap__slider .slick-list {
  display: flex;
}

.feed-wrap__slider .slick-track {
  display: flex;
  align-items: stretch;
}

.feed-wrap__slider .slick-arrow {
  position: absolute;
  font-size: 0;
  background-color: #D51B51;
  height: 35px;
  width: 35px;
  display: flex;
  right: 20px;
  top: -100px;
  box-shadow: none;
  cursor: pointer;
  background-image: url(../img/icons/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
}

.feed-wrap__slider .slick-prev {
  right: calc(20px + 35px + 20px);
  transform: rotate(180deg);
}

.feed-wrap__slide {
  padding: 50px 20px;
  background-color: #fff;
  width: 23%;
  margin-right: 20px;
  display: flex !important;
  flex-direction: column;
  height: 100%;
}

.feed-wrap__slide h3 {
  font-size: 24px;
  margin-bottom: 30px;
}

.feed-wrap__button {
  display: flex;
  justify-content: center;
}

.feed-wrap__button .button {
  height: 40px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 330px;
  font-weight: 600;
  font-size: 16px;
  padding: 0;
}

.feed-wrap__button .button:hover {
  background-color: #fff;
}

.about .title {
  margin-bottom: 70px;
}

.about-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-wrap__right {
  width: 30%;
}

.about-wrap__left {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.about-wrap__left p {
  width: 50%;
  display: block;
  padding-right: 40px;
  margin-bottom: 30px;
  font-size: 14px;
}

.brands-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.brands-wrap__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 6);
  margin-bottom: 20px;
}

.email {
  background-color: #F7F8FB;
  position: relative;
}

.email-item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
}

.email-wrap form {
  display: flex;
  justify-content: space-between;
}

.email-wrap form h3 {
  font-size: 20px;
  max-width: 260px;
}

.email-wrap form input[type="email"] {
  height: 50px;
  width: 440px;
  background-color: #fff;
  box-shadow: none;
  padding-left: 20px;
}

.email-wrap form .button {
  width: 280px;
  max-width: 280px;
  height: 50px;
  font-size: 16px;
  box-shadow: none;
}

.news-wrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.news-wrap__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.news-wrap__buttons span {
  color: #cccccc;
  font-size: 14px;
}

.news-wrap__buttons a {
  color: #D51B51;
  font-size: 16px;
  font-weight: 400;
}

.news-wrap__item {
  display: block;
  border: 1px solid #F7F8FB;
  width: 31%;
}

.news-wrap__item h2 {
  padding: 30px 20px;
  font-size: 20px;
}

.news-wrap__item p {
  font-size: 14px;
  padding: 0 20px;
}

.news-wrap__item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.news .title {
  position: relative;
  width: 100%;
  margin-bottom: 70px;
}

.news .title .news-href {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: #D51B51;
  font-size: 16px;
}

.footer {
  background-color: #F7F8FB;
  padding-top: 50px;
  padding-bottom: 0;
}

.footer-bottom {
  background-color: #fff;
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 50px;
}

.footer-wrap__menu {
  display: block;
  width: 20%;
}

.footer-wrap__menu b {
  font-size: 20px;
  margin-bottom: 20px;
  display: block;
}

.footer-wrap__menu ul li a {
  font-size: 14px;
  font-weight: 400;
  display: block;
  margin-bottom: 8px;
}

.footer-wrap__social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 20%;
}

.footer-wrap__social a {
  text-decoration: underline;
}

.footer-wrap__social span {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.footer-wrap__social span a {
  display: block;
  margin-right: 20px;
  text-decoration: none;
}

.footer-wrap__social b {
  color: #837D77;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-wrap__social p {
  display: block;
  font-size: 14px;
  margin-bottom: 20px;
}

.footer-wrap__logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
}

.footer-wrap__logo a {
  color: #837D77;
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

.footer-wrap__logo p {
  display: block;
  font-size: 14px;
  margin-top: 15px;
}

@media (max-width: 1520px) {
  .email-item {
    display: none;
  }
}

@media (max-width: 1199px) {
  .footer-bottom .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-bottom .container img {
    display: block;
    margin-top: 15px;
  }
  .footer-wrap__menu {
    width: 18%;
  }
  .footer-wrap__social {
    width: 28%;
  }
  .email-wrap form input[type="email"] {
    width: 370px;
  }
  .email-wrap form .button {
    width: 260px;
    font-size: 20px;
  }
  .brands-wrap__item {
    width: calc(100% / 5);
  }
  .blog__item h3 {
    font-size: 24px;
    line-height: 1.3;
  }
  .blog__item {
    width: 37%;
  }
  .blog__item:nth-child(1), .blog__item:nth-child(4) {
    width: 60%;
  }
  .features-item__item b, .features-item__item p {
    font-size: 18px;
  }
  .offer-wrap__left {
    width: 60%;
  }
  .offer-wrap__right {
    width: 37.5%;
  }
  .header-right__cats ul li a {
    font-size: 14px;
  }
  .header-right__search {
    width: 40%;
  }
  .header-right__menu {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .open-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #F7F8FB;
    z-index: 120;
    padding: 30px;
  }
  .open-menu .header-right__cats {
    padding-top: 30px;
    padding-left: 30px;
  }
  .open-menu .header-right__cats ul {
    display: block;
    background-color: #F7F8FB;
    box-shadow: none;
    position: relative;
    flex-direction: column;
    transform: none;
    top: auto;
    left: auto;
    right: auto;
    max-width: 70%;
    padding: 0;
  }
  .open-menu .header-right__cats ul li {
    width: 100%;
  }
  .open-menu .header-right__cats ul li ul.children {
    margin-bottom: 20px;
    margin-top: 10px;
    max-width: 100%;
    display: none;
  }
  .open-menu .header-right__cats ul li a {
    justify-content: flex-start;
    font-size: 20px;
  }
  .open-menu .header-right__cats ul li.cat-parent {
    position: relative;
  }
  .open-menu .header-right__cats ul li.cat-parent-active::after {
    transition: 0.3s;
    content: "-" !important;
  }
  .open-menu .header-right__cats ul li.cat-parent::after {
    transition: 0.3s;
    position: absolute;
    top: 17px;
    height: 20px;
    width: 20px;
    left: -40px;
    content: '+';
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 800;
  }
  .open-menu__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .open-menu__row a {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .open-menu__row a img {
    display: block;
    margin-right: 10px;
  }
  .open-menu__row .close {
    font-size: 50px;
    height: 50px;
    width: 50px;
    background-color: #D51B51;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #ffffff;
  }
  .footer-wrap__mob-menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 50px;
  }
  .footer-wrap__mob-menu div {
    width: 200px;
  }
  .footer-wrap__mob-menu div b {
    font-size: 20px;
    margin-bottom: 30px;
    display: block;
  }
  .footer-wrap__mob-menu div ul li a {
    font-size: 16px;
    margin-top: 10px;
    display: block;
  }
  .footer-wrap__logo {
    width: 300px;
  }
  .footer-wrap__social {
    width: 300px;
    align-items: flex-start;
  }
  .footer-wrap__menu {
    display: none;
  }
  .news-wrap__item {
    width: 48%;
  }
  .news-wrap__item:last-child {
    display: none;
  }
  .brands-wrap__item {
    width: calc(100% / 3);
    margin-bottom: 30px;
  }
  .feed-wrap__slider {
    margin-bottom: 50px;
  }
  .title {
    margin-bottom: 50px !important;
  }
  .about-wrap {
    flex-direction: column;
    align-items: center;
  }
  .about-wrap__left {
    width: 100%;
  }
  .about-wrap__left p {
    width: 100%;
  }
  .about-wrap__right {
    width: 100%;
  }
  .blog__wrap {
    margin-top: 50px;
  }
  .blog__item {
    width: 100% !important;
    height: 300px;
  }
  .blog__item span {
    right: auto !important;
    left: 50px;
  }
  .blog__item:nth-child(3) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .blog__item:nth-child(3) span {
    top: auto;
    bottom: 50px;
  }
  section {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .features-item {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .features-item__item {
    width: 49%;
    margin-bottom: 20px;
  }
  .header {
    display: none;
  }
  .header-mob {
    display: flex;
  }
  .offer {
    padding-top: 0;
  }
  .offer-cats {
    flex-wrap: wrap;
    justify-content: center;
  }
  .offer-cats__item {
    width: 25%;
  }
  .offer-wrap {
    flex-wrap: wrap;
  }
  .offer-wrap__left {
    width: 100%;
    margin-bottom: 30px;
  }
  .offer-wrap__right {
    width: 100%;
    flex-direction: row;
  }
  .offer-wrap__item {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .about-wrap__right {
    height: 240px;
  }
  .about-wrap__right img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  .footer-bottom p {
    text-align: center;
  }
  .email-wrap form {
    flex-direction: column;
    align-items: center;
  }
  .email-wrap form h3 {
    width: 100%;
    max-width: 400px;
    min-width: 400px;
    font-size: 20px;
  }
  .email-wrap form input {
    width: 100%;
    max-width: 400px;
    min-width: 400px;
    margin-top: 30px;
  }
}

@media (max-width: 578px) {
  .offer-wrap__left {
    margin-bottom: 20px;
  }
  .offer-wrap__left a.button {
    font-size: 18px;
  }
  .footer-wrap__mob-menu div {
    width: 50%;
  }
  .footer-wrap__mob-menu div ul li a {
    font-size: 20px;
    margin-top: 15px;
  }
  .footer-wrap__social b {
    font-size: 24px;
  }
  .news-wrap__item p, .news-wrap__buttons a, .news-wrap__buttons span {
    font-size: 18px;
  }
  .news-wrap {
    flex-wrap: wrap;
  }
  .news-wrap__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .email-wrap form h3 {
    font-size: 24px;
    max-width: 100%;
    text-align: center;
  }
  .email-wrap form input[type="email"], .email-wrap form .button {
    height: 70px;
    max-width: 100%;
    min-width: 100%;
  }
  .brands-wrap__item {
    width: calc(100% / 2);
    margin-bottom: 50px;
  }
  .about-wrap__left p {
    font-size: 18px;
  }
  .feed-wrap__slide h3 {
    font-size: 20px;
  }
  .feed-wrap__slide p {
    font-size: 18px;
  }
  .blog__item h3 {
    max-width: 80%;
  }
  .blog__item span {
    left: 30px !important;
    bottom: 20px !important;
  }
  .offer-cats__item {
    width: calc(100% / 3);
  }
  .offer-cats__item p {
    font-size: 20px;
  }
  .button {
    min-height: 50px;
  }
  .offer-wrap__item {
    height: 200px;
  }
  .offer-wrap__item h2 {
    font-size: 20px;
    max-width: 70%;
  }
  .offer-wrap__item:first-child h2 {
    text-align: end;
    max-width: 70%;
    font-size: 20px;
  }
  .offer-wrap__item a {
    height: 40px;
    font-size: 14px;
    width: 150px;
    padding: 0;
  }
  .offer-wrap__left {
    padding: 30px;
    height: auto;
  }
  .offer-wrap__left h1 {
    font-size: 24px;
    max-width: 80%;
  }
  .blog__item {
    height: 200px;
    padding: 30px;
  }
}
