@font-face {
  font-family: 'sans';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sans';
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sans';
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  width: auto;
  color: #000000;
  font-family: "sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
}

a, a:hover, a:active, a:link, a:focus {
  text-decoration: none;
  outline: none;
  color: #000000;
  font-weight: 600;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  font-size: 14px;
}

div, span, article, nav, section, main, header {
  padding: 0;
  margin: 0;
}

input, button, select, textarea {
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  color: #000000;
}

input[type="text"], input[type="tel"], input[type="password"], input[type="email"] {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset -1px 3px 7px rgba(0, 0, 0, 0.07);
  appearance: none;
}

input[type="text"], input[type="tel"], input[type="submit"], button {
  appearance: none;
  padding: 10px 15px;
}

input:focus, textarea:focus, select:focus, button:focus, select:focus, div:focus {
  outline: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 800;
  line-height: 1.2;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 767px) {
  .container {
    max-width: 740px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

section, footer {
  padding-top: 70px;
  padding-bottom: 70px;
}

.title {
  font-size: 30px;
  line-height: 1.3;
  text-align: left;
  font-weight: 800;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  max-width: 210px;
  background-color: #D51B51;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
  padding: 10px 20px;
}

.button:hover {
  background-color: #F7F8FB;
  color: #000000;
  transition: 0.3s;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__bottom.container {
  align-items: flex-start;
}

.header__top {
  padding-top: 5px;
}

.header__logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 20%;
}

.header-right {
  display: block;
  width: 80%;
}

.header-right__cats {
  margin-top: 20px;
  position: relative;
}

.header-right__cats h2 {
  display: none;
}

.header-right__cats section {
  padding: 0;
  margin: 0;
}

.header-right__cats ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right__cats ul li a {
  font-weight: 600;
  font-size: 16px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s;
}

.header-right__cats ul li a:hover {
  color: #D51B51;
}

.header-right__cats ul li.menu-active {
  z-index: 0;
}

.header-right__cats ul li.menu-active a {
  color: #D51B51;
}

.header-right__cats ul li ul {
  display: none;
  flex-wrap: wrap;
  position: absolute;
  z-index: 55;
  top: calc(100% - 5px);
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  border: 1px solid #F7F8FB;
  box-sizing: border-box;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
  padding: 20px 20px 0 20px;
}

.header-right__cats ul li ul li {
  display: flex;
  align-items: center;
  width: 33%;
}

.header-right__cats ul li ul li a {
  padding: 0;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
  color: #000000 !important;
  font-weight: 400;
}

.header-right__cats ul li ul li a:hover {
  color: #D51B51 !important;
}

.header-right__search {
  width: 55%;
}

.header-right__search input {
  background-color: #F7F8FB;
  box-shadow: none;
  padding: 15px 20px;
  width: 100%;
}

.header-right__top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15px;
}

.header-right__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 45%;
}

.header-right__menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.header-right__menu a p {
  margin-left: 14px;
}

.header__phone {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__phone a {
  position: relative;
  transition: 0.3s;
}

.header__phone a:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0%;
  background-color: #000000;
  transition: 0.3s;
}

.header__phone a:hover::after {
  transition: 0.3s;
  width: 100%;
}

.header__nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__nav ul li {
  margin-left: 15px;
}

.header__nav ul li a {
  font-weight: 400;
  position: relative;
  transition: 0.3s;
}

.header__nav ul li a:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0%;
  background-color: #000000;
  transition: 0.3s;
}

.header__nav ul li a:hover::after {
  transition: 0.3s;
  width: 100%;
}

.offer {
  min-height: 600px;
}

@media (max-width: 1199px) {
  body {
    background-color: #fff;
  }
}

@media (max-width: 992px) {
  body {
    background-color: #fff;
  }
}

@media (max-width: 767px) {
  body {
    background-color: #fff;
  }
}

@media (max-width: 578px) {
  body {
    background-color: #fff;
  }
}
